#sidebar{
    animation: slide 0.2s ease-in-out;
}
@keyframes slide {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes softLoad {
    from {
        scale: 0;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 100;

    }
}